/* @theme noto-uncover */
@import 'uncover';

/* Use Noto fonts. */
/* https://github.com/orgs/marp-team/discussions/315#discussioncomment-2863387 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji|Noto+Emoji|Noto+Sans+Display|Noto+Sans|Noto-Serif&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/all.min.css');

/*
> Original definition of font-family listed below.
>
> * `default`:
> https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown.css#L139
> https://github.com/sindresorhus/github-markdown-css/blob/265b22aa79815418195f453352456d5784bb7580/github-markdown.css#L139
> https://github.com/marp-team/marp-core/blob/main/themes/default.scss#L15
> https://github.com/marp-team/marp-core/blob/26e50d00f7fe14ded7dcacd971ef3a93ac47e94d/themes/default.scss#L15
>
> * `gaia`:
> https://github.com/marp-team/marp-core/blob/main/themes/gaia.scss#L203-L204
> https://github.com/marp-team/marp-core/blob/26e50d00f7fe14ded7dcacd971ef3a93ac47e94d/themes/gaia.scss#L203-L204
>
> * `uncover`:
> https://github.com/marp-team/marp-core/blob/main/themes/uncover.scss#L43-L45
> https://github.com/marp-team/marp-core/blob/26e50d00f7fe14ded7dcacd971ef3a93ac47e94d/themes/uncover.scss#L43-L45
>
*/

section {
  background: #cef;
  color: #135;
  /* Apply to Uncover theme. */
  /* https://github.com/orgs/marp-team/discussions/315#discussioncomment-2863387 */
  font-family: "Noto Sans", "Noto Color Emoji", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-image: url('assets/nix-wallpaper-nineish.webp');
  background-size: cover; /* contain; */
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Display", "Noto Color Emoji", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
